<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0" />
  <title></title>
  <link rel="stylesheet" href="../public/css/font/iconfont.css" />
  <link rel="stylesheet" href="../public/css/style.css" />
  <link rel="stylesheet" href="../public/css/flex.css" />
  <link rel="stylesheet" href="../public/css/base.css" />
  <link rel="stylesheet" href="css/mystyle.css" />
</head>
<body>
  <div id="app" v-cloak>
    <co-header title="个人资料" fixed  class="co-bg-6 co-cl-0">
      <div slot="left" class="co-flex">
        <!--头部左边内容区域-->
        <div @click="back" class="backBtn co-pd-r06">
          <i class="coicon coicon-return co-fs-4"></i>
        </div>
      </div>
      <div slot="right" class="co-flex co-je">
        <!--头部右边内容区域-->
      </div>
    </co-header>
    <div id="co-content" class="co-content-top co-cl-1 co-bg-0">
      <div class="co-flex co-ver co-ac co-jc co-pd-a1">
        <img src="images/avtar.png" style="width:3.6rem;height:3.6rem;display: block;" />
        <div class="co-cl-2 co-pd-t04">点击上传图像</div>
      </div>
      <div class="co-flex co-ac co-mg-l04 co-bd-b1 co-pd-tb05">
        <div>性别：</div>
        <div class="co-f1 co-flex co-pd-l1">
          <div class="co-flex co-ac co-mg-r1">
            <div class="radiobox co-flex">
              <input v-model="sex" value="男" name="sex1" type="radio" />
            </div>
            <div class="co-mg-l04">男</div>
          </div>
          <div class="co-flex co-ac co-mg-l1">
            <div class="radiobox  co-flex">
              <input v-model="sex" value="女" name="sex1" type="radio" />
            </div>
            <div class="co-mg-l04">女</div>
          </div>
        </div>
      </div>
      <div class="co-flex co-ac co-mg-l04 co-bd-b1 co-pd-tb05">
        <div>昵称：</div>
        <div class="co-f1 co-flex co-pd-l1">
          <input v-model="nic" placeholder="" type="text" class="co-input co-f1">
        </div>
      </div>
      <div class="co-flex co-ac co-mg-l04 co-bd-b1 co-pd-tb05">
        <div>地址：</div>
        <div class="co-f1 co-flex co-pd-l1">
          <input v-model="addr" placeholder="" type="text" class="co-input co-f1">
        </div>
      </div>
    </div>
    <div class="co-bg-6 co-cl-0 co-tx-c co-br-a0 co-pd-tb05 co-mg-lr06 co-mg-t1">确认修改</div>
  </div>
</body>
<script src="../public/js/vue.js"></script>
<script src="../public/js/index.js"></script>
<script src="../public/js/corAPI.js"></script>
<script>
  corJS.ready(function(){
    corNative.setBounceEnabled(1);
  })
  var vm = new Vue({
    el:"#app",
    data:{
      sex:"",
      nic:"xixi",
      addr:"深圳市南山区"
    },
    methods:{
      back:function(){
        corNative.closeWindow({
          animID:-1
        });
      },
    },
    created:function(){
    },
    mounted:function(){
    }
  })
</script>
</html>