.co-swipe{height:7rem;}
.bannerImg{height:7rem;width:100%;display: block}
.carList{width:25%;float: left;margin-top:.5rem;} 
.tabList{width:2.4rem;height:2.4rem;border-radius: 2.4rem;-webkit-border-radius:2.4rem;}
.carB{border-left:3px #1296db solid;}
.co-search input{flex: 1;-webkit-flex:1;}