<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="css/ui-box.css">
    <link rel="stylesheet" href="css/ui-base.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/ui-icon.css">
    <link rel="stylesheet" href="css/ui-control.css">
    <link rel="stylesheet" href="news_articlecommon/css/index.css">
</head>
<body>
    <div class="bc-bg"  id="Page">
            <co-header>
                <co-button icon="back" slot="left" @click="location('index.html')"></co-button>
                <co-button type="default" size="normal" slot="right" @click="location('news_comment.html')">456条跟帖</co-button>
            </co-header>


        <div class="pb3 ub-ver uinn">
            <div class="t-bg tx-l uinn" >
                温州放假暴跌卖房不够还款&nbsp个人弃房跑路频现
            </div>
            <div class="t-gra tx-l ulev-1 uinn" style="border-bottom:1px solid#ffffff;">
                中国新闻网&nbsp08:21&nbsp09:45
            </div>
            <div class="ub-img backpicture umar-t" style="min-height:10.2em;">
                <img src="news_articlecommon/css/myImg/backpicture.png" width="100%" />
            </div>
            <div class="t-gra tx-l uinn ulh-a ulev-app1">
                &nbsp&nbsp截至到今年七月，温州房价已经连续23个月下降，一些新建商品房比巅峰时期下跌了百分之三四十，
                个别豪宅甚至拦腰斩断，房子卖掉还不够偿还银行贷款，这种“倒挂”现象在温州愈演愈烈。报道称房价暴跌已经产生社会信用风险，个人
                “弃房”和“跑路”已经比较多。
            </div>
        </div>

        <div class="uf sc-bg ubt sc-border-tab ub" id="Footer" v-show="!isShowReply">
            <div class="ub-f1 ub ub-ac umar-a uinn3 uc-a1" id="Box_footer" @click="isShowReply=true">
                写评论
            </div>
            <div class="ub ub-ac ub-pc" id="Icon_footer0">
                <div class="fa fa-share-square-o"></div>
            </div>
            <div class="ub ub-ac ub-pc" id="Icon_footer1">
                <div class="fa fa-star-o"></div>
            </div>
        </div>

        <div id="Mask" v-if="isShowReply" @click="isShowReply=!isShowReply"></div>
        <div id="Box_footer_maskout" v-show="isShowReply">
            <div class="ub ub-ver ub-fh bc-bg" style="bottom: 0;left: 0;position: absolute;">
                <div class="ub ub-ac c-wh">
                    <div class="umw3 ub ub-ac ub-pc uinn" @click="isShowReply=!isShowReply">
                        <div class="ub-img quxiao umw1 umh1"></div>
                    </div>
                    <div class=" tx-c t-bla ub-f1 ulev-app1">
                        评论
                    </div>
                    <div class="umw3 ub ub-ac ub-pc uinn" @click="submitComment">
                        <div class="ub-img queding  umw1 umh1"></div>
                    </div>
                </div>
                <div class="uba bc-border uinput ub ub-f1">
                    <textarea placeholder="" v-model="addComment" type="text" class="ub ub-f1"></textarea>
                </div>
            </div>
        </div>

    </div>



    <script src="../public/js/vue.js"></script>
    <script src="../public/js/coui.js"></script>
    <script src="js/common.js"></script>
    <script src="js/news_articlecommon.js"></script>
</body>
</html>