.co-swipe{height:8rem;}
.bannerImg{height:8rem;width:100%;display: block}
.iconImg{width:2.2rem;height:2.2rem;display: block;}
.serviceD{float: left;width:50%;}
#menu{position: fixed;top:2.2rem;left:0;z-index: 1;width:100%;}
.menu{height:2.2rem;}
.co-content-top1{padding-top:4.4rem;}
.menuB{border-bottom: 2px #1296db solid;color:#1296db;}