<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="css/font/iconfont.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="css/ui-base.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="clue-distribution/css/index.css">

</head>
<body>
    <div id="Page">
            <co-header title="线索">
                <a slot="left" class="iconfont icon-arr" @click="location(-1)"></a>
            </co-header>


        <co-navbar v-model="selected">
            <co-tab-item id="1">未分配线索</co-tab-item>
            <co-tab-item id="2">已分配线索</co-tab-item>
        </co-navbar>

        <co-tab-container v-model="selected">
            <co-tab-container-item id="1">
                <div class="rowslist">
                    <div class="rowsone" v-for="item,index in allotList[0]" :key="index">
                        <p class="title">客户名：{{item.name}}</p>
                        <p>联系方式：{{item.phone}}</p>
                        <p>最新更进时间：{{item.time}}</p>
                    </div>
                </div>
            </co-tab-container-item>
            <co-tab-container-item id="2">
                <div class="rowslist">
                    <div class="rowsone" v-for="item,index in allotList[1]" :key="index">
                        <p class="title">客户名：{{item.name}}</p>
                        <p>联系方式：{{item.phone}}</p>
                        <p>最新更进时间：{{item.time}}</p>
                    </div>
                </div>
            </co-tab-container-item>
        </co-tab-container>




    </div>

    <script src="../public/js/vue.js"></script>
    <script src="../public/js/coui.js"></script>
    <script src="js/clue-distribution.js"></script>
    <script src="js/common-methods.js"></script>
</body>
</html>