body{ background-color: #fff;}

.page-customer-manager .select {
    width: 100%;
    /* top: 160px; */
    max-height: 150px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.co-popup {
    position: fixed;
    background: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: .2s ease-out;
}

.page-customer-manager .select .type {
    overflow: auto;
    border-right: 1px #cccccc solid;
}

.page-customer-manager .select .co-cell {
    min-height: 38px;
}

.page-customer-manager .select .sub-type {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    overflow: auto;
}

.page-customer-manager .indexicon {
    font-family: "indexicon" !important;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    width: 30px;
    vertical-align: middle;
    padding-right: 5px;
}
