body,
ul,
li,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button,
select,
textarea {
  outline: none;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  height: 1.33333333rem;
  width: 100%;
  border-top: 1px solid;
}
.fixed-bottom .co-button {
  width: 9.6rem;
  height: 1.12rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 18px;
  border-radius: .12rem;
}
[data-dpr="2"] .fixed-bottom .co-button {
  font-size: 36px;
}
[data-dpr="3"] .fixed-bottom .co-button {
  font-size: 54px;
}
.main-cells .iconfont {
  font-size: 32px;
  vertical-align: middle;
  margin-left: .50666667rem;
}
[data-dpr="2"] .main-cells .iconfont {
  font-size: 64px;
}
[data-dpr="3"] .main-cells .iconfont {
  font-size: 96px;
}
.main-cells .icon + .co-cell-text {
  margin-left: .2rem;
}
[data-dpr="2"] .co-msgbox {
  /* ³õÊ¼¿í¶ÈËõ·ÅÊÊÅä */
  width: 42.5%;
  -webkit-transform: scale(2) translate(-25%, -25%);
          transform: scale(2) translate(-25%, -25%);
}
[data-dpr="3"] .co-msgbox {
  width: 28.33333333%;
  -webkit-transform: scale(3) translate(-16.67%, -16.67%);
          transform: scale(3) translate(-16.67%, -16.67%);
}
[data-dpr="2"] .co-toast {
  -webkit-transform: scale(2) translate(-25%, -25%);
          transform: scale(2) translate(-25%, -25%);
}
[data-dpr="3"] .co-toast {
  -webkit-transform: scale(3) translate(-16.67%, -16.67%);
          transform: scale(3) translate(-16.67%, -16.67%);
}
[data-dpr="2"] .co-indicator-wrapper {
  -webkit-transform: scale(2) translate(-25%, -25%);
          transform: scale(2) translate(-25%, -25%);
}
[data-dpr="3"] .co-indicator-wrapper {
  -webkit-transform: scale(3) translate(-16.67%, -16.67%);
          transform: scale(3) translate(-16.67%, -16.67%);
}
.co-header {
  font-size: .48rem;
  height: 1.17333333rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: .36rem;
}
.co-header .co-header-title {
  font-size: 20px;
  margin: 0;
}
[data-dpr="2"] .co-header .co-header-title {
  font-size: 40px;
}
[data-dpr="3"] .co-header .co-header-title {
  font-size: 60px;
}
.co-header .co-header-button {
  height: 100%;
}
.co-header .co-header-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  text-indent: .16rem;
}
.co-header .co-header-button a::before {
  display: inline-block;
  font-size: 24px;
  height: .53333333rem;
  line-height: .53333333rem;
}
[data-dpr="2"] .co-header .co-header-button a::before {
  font-size: 48px;
}
[data-dpr="3"] .co-header .co-header-button a::before {
  font-size: 72px;
}
.co-header .co-header-button.is-right a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.co-header .co-header-button.is-right a > * {
  margin-right: .32rem;
}
.co-header .co-header-button.is-right a::before {
  margin-right: .32rem;
}
.co-cell .co-cell-wrapper {
  height: 1.36rem;
}
.co-cell .co-cell-text {
  margin-left: .50666667rem;
  font-size: 16px;
}
[data-dpr="2"] .co-cell .co-cell-text {
  font-size: 32px;
}
[data-dpr="3"] .co-cell .co-cell-text {
  font-size: 48px;
}
.co-cell .co-cell-value {
  font-size: 14px;
  margin-right: .50666667rem;
}
[data-dpr="2"] .co-cell .co-cell-value {
  font-size: 28px;
}
[data-dpr="3"] .co-cell .co-cell-value {
  font-size: 42px;
}
.co-cell-allow-right::after {
  margin-right: .50666667rem;
  width: .16rem;
  height: .16rem;
  border-width: .05333333rem;
  border-bottom-width: 0;
  border-left-width: 0;
}
.no-link-icon .co-cell-allow-right::after {
  visibility: hidden;
}
.co-search {
  height: 100%;
}
.co-search .co-searchbar {
  height: 1.06666667rem;
}
.co-search .co-searchbar-inner {
  height: 70%;
  border: 1px solid #696969;
  border-radius: .05333333rem;
}
.co-search .co-searchbar-core {
  width: 100%;
  line-height: 1.06666667rem;
  font-size: 14px;
}
[data-dpr="2"] .co-search .co-searchbar-core {
  font-size: 28px;
}
[data-dpr="3"] .co-search .co-searchbar-core {
  font-size: 42px;
}
.co-search input::-webkit-input-placeholder {
  font-size: 14px;
  vertical-align: center;
}
[data-dpr="2"] .co-search input::-webkit-input-placeholder {
  font-size: 28px;
}
[data-dpr="3"] .co-search input::-webkit-input-placeholder {
  font-size: 42px;
}
.co-search .co-searchbar-text {
  font-size: 14px;
}
[data-dpr="2"] .co-search .co-searchbar-text {
  font-size: 28px;
}
[data-dpr="3"] .co-search .co-searchbar-text {
  font-size: 42px;
}
.co-search .co-searchbar-cancel {
  font-size: 14px;
  margin: 0 .26666667rem;
}
[data-dpr="2"] .co-search .co-searchbar-cancel {
  font-size: 28px;
}
[data-dpr="3"] .co-search .co-searchbar-cancel {
  font-size: 42px;
}
.co-search .coui-search {
  font-size: 14px;
  margin-right: .13333333rem;
}
[data-dpr="2"] .co-search .coui-search {
  font-size: 28px;
}
[data-dpr="3"] .co-search .coui-search {
  font-size: 42px;
}
.co-indexlist .co-indexsection-index {
  padding: .13333333rem .26666667rem;
  font-size: 13px;
}
[data-dpr="2"] .co-indexlist .co-indexsection-index {
  font-size: 26px;
}
[data-dpr="3"] .co-indexlist .co-indexsection-index {
  font-size: 39px;
}
.co-indexlist .co-cell-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.co-indexlist .co-cell-text {
  display: block;
  margin-left: 1.36rem;
}
.co-indexlist .co-cell-label {
  font-size: 12px;
  margin-left: 1.36rem;
  margin-top: .16rem;
}
[data-dpr="2"] .co-indexlist .co-cell-label {
  font-size: 24px;
}
[data-dpr="3"] .co-indexlist .co-cell-label {
  font-size: 36px;
}
.co-indexlist .icon {
  position: absolute;
}
.co-indexlist .iconfont {
  font-size: 36px;
  width: .96rem;
  height: .96rem;
  margin-left: 0.24rem;
}
[data-dpr="2"] .co-indexlist .iconfont {
  font-size: 72px;
}
[data-dpr="3"] .co-indexlist .iconfont {
  font-size: 108px;
}
.co-indexlist .avatar {
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  margin-left: 0.24rem;
}
.co-indexlist .co-indexlist-navitem {
  padding: .05333333rem .16rem;
  font-size: 18px;
}
[data-dpr="2"] .co-indexlist .co-indexlist-navitem {
  font-size: 36px;
}
[data-dpr="3"] .co-indexlist .co-indexlist-navitem {
  font-size: 54px;
}
[data-dpr="2"] .co-indexlist .co-indexlist-indicator {
  -webkit-transform: scale(2) translate(-25%, -25%);
          transform: scale(2) translate(-25%, -25%);
}
[data-dpr="3"] .co-indexlist .co-indexlist-indicator {
  -webkit-transform: scale(3) translate(-16.67%, -16.67%);
          transform: scale(3) translate(-16.67%, -16.67%);
}
.co-popup-bottom {
  width: 100%;
}
.co-popup-bottom .picker-slot {
  font-size: 21px;
}
[data-dpr="2"] .co-popup-bottom .picker-slot {
  font-size: 42px;
}
[data-dpr="3"] .co-popup-bottom .picker-slot {
  font-size: 63px;
}
#datebar-id .co-component-progressbar {
  -webkit-overflow-scrolling: touch;
  border-bottom: 1px solid #C8C8C8;
}
#datebar-id .co-component-progressbar > li {
  box-sizing: border-box;
  width: 1.89333333rem;
  height: 2.05333333rem;
  display: table-cell;
  vertical-align: middle;
}
#datebar-id .co-component-progressbar > li.active {
  height: 2.08rem;
}
#datebar-id .co-component-progressbar .progressbar-year {
  display: none;
}
#datebar-id .co-component-progressbar .progressbar-week {
  font-size: 14px;
  margin-top: .21333333rem;
}
[data-dpr="2"] #datebar-id .co-component-progressbar .progressbar-week {
  font-size: 28px;
}
[data-dpr="3"] #datebar-id .co-component-progressbar .progressbar-week {
  font-size: 42px;
}
#datebar-id .co-component-progressbar .progressbar-data {
  width: .77333333rem;
  height: .77333333rem;
  border-radius: 50%;
  margin-top: .44rem;
  font-size: 19.5px;
  line-height: .6rem;
}
[data-dpr="2"] #datebar-id .co-component-progressbar .progressbar-data {
  font-size: 39px;
}
[data-dpr="3"] #datebar-id .co-component-progressbar .progressbar-data {
  font-size: 58.5px;
}
.co-drawer-wrap .co-drawer-content {
  overflow: hidden;
}
.co-drawer-wrap .co-drawer-modal {
  z-index: 99;
}
