.addcolumn-wrap .co-cell{ background-color: transparent; font-size: 14px;}
.addcolumn-wrap .co-cell-wrapper{background-size:100% 1px;  padding:0;}
.addcolumn-wrap .co-checklist-title{ display: none;}
.addcolumn-wrap .co-cell-value{padding-right: 10px; font-size: 14px;}




